<div class="container">

  <div class="card" *ngIf="scoreCard==undefined;else score">
    <div class="card-header">
      <a type="button" (click)="startTest()" [style.display]="txtButton=='Submit'?'none':'initial'"
        class="btn btn-primary">
        {{txtButton}}</a><span class="float-right">Select correct option</span>

      <app-question (answered)="nextQuestion($event)" [questionNo]="questionIndex+1"
        [question]="questions[questionIndex]"></app-question>
    </div>
  </div>
  <ng-template #score>
    <div class="score">
      <p>You Score is {{scoreCard}}</p>
      <br>

    </div>
    <button class="btn btn-success" (click)="retry()">Retry</button>
  </ng-template>
</div>
