.container {
  .card {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 10%;
    .card-body {
      width: 100%;
    }
  }
}

@media screen and(max-width:570px) {
  .container {
    .card {
      width: 100%;
    }
  }
}
